body
{
    background-image: url(quicksilver.png);
}

img
{
    display: block;
}

.masthead
{
    margin: auto;
    margin-top: 15px;
    max-width: 90%;
    border: 2px solid #6717a6;
    border-radius: 10px;
    padding: 5px;
    background-color: #f4f4f4;
}

.menu
{
    overflow: hidden;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 900px;
    border: 2px solid #6717a6;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.menu a
{
    float: left;
    font-weight: bold;
    color: #6717a6;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
}

.menu a:hover
{
    background-color: #956ce0;
    color: #f4f4f4; 
}

.content
{
    margin: auto;
    margin-top: 10px;
    max-width: 800px;
    border: 2px solid #6717a6;
    border-radius: 10px;
    padding: 15px;
    background-color: #f4f4f4;
}

.content h3
{
    color: #6717a6;
}

.content .title
{
    float: left;
    font-weight: bold;
    color: #6717a6;
}
.content .title img
{
    max-height:24px;
}

.content .date
{
    float: right;
}

.content hr
{
    height: 2px;
    border-width: 0px;
    background-color: #6717a6;
}

.content img
{
    float: left;
    max-width: 45%;
    margin-right: 10px;
    margin-left: 10px;
}

