body
{
    background-image: url(quicksilver.png);
}

.masthead
{
    margin: auto;
    margin-top: 15px;
    width: min-content;
    border: 2px solid #6717a6;
    border-radius: 10px;
    padding: 5px;
    background-color: #f4f4f4;
}


.menu
{
    overflow: hidden;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 900px;
    border: 2px solid #6717a6;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.menu a
{
    float: left;
    font-weight: bold;
    color: #6717a6;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
}

.menu a:hover
{
    background-color: #956ce0;
    color: #f4f4f4; 
}

p
{
    margin: auto;
    margin-top: 10px;
    max-width: 700px;
    border: 2px solid #6717a6;
    border-radius: 10px;
    padding: 15px;
    background-color: #f4f4f4;
}

.blog-post
{
    margin: auto;
    margin-top: 10px;
    max-width: 700px;
    border: 2px solid #6717a6;
    border-radius: 10px;
    padding: 15px;
    background-color: #f4f4f4;
}
